.container {
	border: 1px solid darkgrey;
	box-shadow: 1px 3px 1px 1px lightgrey;
	border-radius: 5px;
	padding-top: 5px;
	height: 500px;
	margin-top: 50px;
	width: 700px;
}

.form-group {
	font-weight: bold;
}

.animal_types_sizes {
	font-weight: bold;
	text-align: center;
}

.btn-default {
	font-weight: bold;
	padding-top: 10px;
	margin-top: 20px;
	margin-left: 180px;
	background-color: darkgrey;
}

.btn-default:hover {
	box-shadow: 2px 2px 2px 2px grey;
}

