body,html {
	background-image: url("Background.Image.jpg");
	margin: 0;
}

.nav {
  	display: flex;
  	background-color: black;
  	li {
    	width: 500px;
    	height: 40px;
    	a {
    		color: orange;
      		font-weight: bold;
      		font-size: 16px;
      		text-align: center;
     		&:hover {
        		background-color: orange;
        		color: black;
      		}
    	}
  	}
}

.dropdown-menu {
	width: 250px;
	height: 75px;
	background-color: orange;
	color: black;
	text-align: center;
	li {
		color: orange;
		width: 224px;
		height: 35px;;
		opacity: .8;
		a {
			display: block;	
    		padding: 3px 20px;
    		clear: both;
    		font-weight: 400;
    		line-height: 1.42857143;
    		color: #333;
    		white-space: nowrap;
    		}
		}
> li > a:hover {
    color: black;
    font-weight: bold;
    background-color: #00bcd4;
    height: 35px;
    width: 250px;
	}
}

.input-group {
  	border: 3px solid #00bcd4;
	background-color: white;
}

.input-group-addon {
  	margin-left: 500px;
  	background-color: white;
}

.search-image {
  	width: 20px;
  	height: 20px;
}

.search {
  	width: 300px;
  	padding: 5px;
  	border: none;
  	font-size: 17px;
}

.animation {
  	clear: both;
  	display: block;
  	text-align: center;
}

.heading1 {
	display: inline-block;
	transform: scale(1);
	transition: all 1s;
	transition-timing-function: ease-in-out;
	color: #00bcd4;
	font-size: 60px;
  	&:hover {
    	transform: scale(1.25);
  		}
  		&:before, &:after {
    		width: 100%;
    		height: 100%;
    		content: attr(data-heading1);
    		position: absolute;
    		z-index: -1;
    		opacity: 0.5;
  			}
  			&:before {
    			color: orange;
    			top: 2px;
    			left: 2px;
  				}
  				&:after {
    			color: orange;
    			bottom: 2px;
    			right: 2px;
  				}
}

.heading2 {
  	color: #00bcd4;
  	text-align: center;
  	font-size: 40px;
  	text-decoration: underline;
}

.pet-icons {
  	width: 50px;
  	height: 50px;
}

.Pet_pics {
  	margin-left: 450px;
  	width: 400px;
  	&:after {
  		clear: both;
  	}
}

#main {
  	background-color: orange;
  	border: 3px solid #00bcd4;
  	border-radius: 20px;
  	font-size: 16px;
  	padding: 12px;
}

.thumbnail {
  	height: 500px;
  	width: 280px;
  	&:hover {
    	box-shadow: 0px 0px 20px black;
    	cursor: pointer;
  	}
}

.placeholder {
  	width: 260px;
  	padding-top: 5px;
}

.product {
  	text-align: center;
  	padding-top: 5px;
}

.caption {
  	height: 200px;
  	width: 270px;
}

.container {
  	text-align: center;
}

#contact-box {
  	background-color: orange;
  	width: 500px;
  	height: 100px;
  	margin: 20px 20px 20px 310px;
  	padding-top: 25px;
  	font-size: 18px;
  	border: 3px solid #00bcd4;
  	&:after {
    	clear: both;
  	}
}

.Contact-Details {
  	font-weight: bold;
  	text-align: center;
}

#mapId {
  	height: 500px;
  	width: 800px;
  	margin-left: 170px;
}

#footer {
  	background-color: black;
  	height: 50px;
  	color: white;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: left;
  	padding-left: 20px;
  	padding-top: 20px;
  	text-align: center;
}

.copyright {
  	width: 15px;
  	height: 15px;
}

.modal-header {
  	width: 599px;
  	height: 40px;
  	padding: 10px;
  	background: orange;
  	font-weight: bold;
  	text-align: center;
  	font-size: 16px;
  	border: none;
}

.modal-body {
  	width: 600px;
  	height: 350px;
  	text-align: center;
}

.modal-image {
  	width: 300px;
  	height: 200px;
}