body, html {
  background-image: url("background_image.jpg");
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  background-color: black;
}
.nav li {
  width: 500px;
  height: 40px;
}
.nav li a {
  color: orange;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.nav li a:hover {
  background-color: orange;
  color: black;
}

.dropdown-menu {
  width: 270px;
  height: 75px;
  background-color: orange;
  text-align: center;
}
.dropdown-menu li {
  color: orange;
  width: 224px;
  height: 35px;
  opacity: .8;

}
.dropdown-menu li a, .dropdown-submenu li a {
  display: block;

  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  color: black;
  margin-left: 50px;
}
.dropdown-menu > li > a:hover {
  color: black;
  font-weight: bold;
  background-color: #00bcd4;
  height: 35px;
  width: 270px;
  margin-left: 0px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 1px;
  margin-left: 45px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #00bcd4;
  margin-top: 5px;
  margin-right: -10px;

}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: 100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown a {
  display: block;
}

.dropdown-search {
  width: 150px;
  height: 0;
  background-color: white;
  text-align: center;
  padding: 0;
}
.dropdown-search li {
  color: orange;
  width: 224px;
  height: 35px;
  opacity: 1;
}

.dropdown-search li input-group {
  display: block;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  color: black;
  margin-left: 50px;
}

.input-group {
  border: 3px solid #00bcd4;
  background-color: white;
  width: 100px;
}

.input-group-addon {
  margin-left: 500px;
  background-color: white;
  border: none;
}

.search-image {
  width: 20px;
  height: 20px;
}

.search {
  width: 180px;
  padding: 5px;
  border: none;
  font-size: 17px;
}

.animation {
  clear: both;
  display: block;
  text-align: center;
}

.heading1 {
  display: inline-block;
  transform: scale(1);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  color: #00bcd4;
  font-size: 60px;
}

.heading1:hover {
  transform: scale(1.25);
}

.heading1:before, .heading1:after {
  width: 100%;
  height: 100%;
  content: attr(data-heading1);
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.heading1:before {
  color: orange;
  top: 2px;
  left: 2px;
}
.heading1:after {
  color: orange;
  bottom: 2px;
  right: 2px;
}

.heading2 {
  color: #00bcd4;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.pet-icons {
  width: 50px;
  height: 50px;
}

.Pet_pics {
  margin-left: 500px;
  width: 400px;
}

.Pet_pics:after {
  clear: both;
}

#main {
  background-color: orange;
  border: 3px solid #00bcd4;
  border-radius: 20px;
  font-size: 16px;
  padding: 12px;
}

.thumbnail {
  height: 250px;
  width: 280px;
}

.thumbnail:hover {
  box-shadow: 0px 0px 20px black;
  cursor: pointer;
}

.placeholder {
  width: 260px;
  padding-top: 5px;
}

.product {
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
}

.caption {
  height: 200px;
  width: 270px;
  display: none;
}

.product_price {
  font-weight: bold;
}

.container {
  text-align: center;
}

#contact-box {
  background-color: orange;
  width: 500px;
  height: 170px;
  margin: 20px 20px 20px 310px;
  padding-top: 25px;
  font-size: 18px;
  border: 3px solid #00bcd4;
}

#contact-box:after {
  clear: both;
}

#feedback-box {
  background-color: orange;
  width: 500px;
  height: 400px;
  border: 3px solid #00bcd4;
  margin-left: 320px;
}

.Contact-Details {
  font-weight: bold;
  text-align: center;
}

.feedback-details {
  font-weight: bold;
  color: black;
}

.send-button {
  background-color: #00bcd4;
  font-weight: bold;
  color: black;
  width: 100px;
  border: 1px solid black;
  font-size: 16px;
  margin-right: 50px;
}

.clear-button {
  background-color: #00bcd4;
  font-weight: bold;
  color: black;
  width: 100px;
  border: 1px solid black;
  font-size: 16px;
}

.send-button:hover, .clear-button:hover {
  box-shadow: 0px 0px 20px black;
}

#mapId {
  height: 500px;
  width: 800px;
  margin-left: 170px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

#footer {
  background-color: black;
  height: 50px;
  color: white;
  width: 100%;
  text-align: left;
  text-align: center;
  margin-top: -50px;
}

.copyright {
  width: 15px;
  height: 15px;
}

.modal-header {
  width: 599px;
  height: 40px;
  padding: 10px;
  background: orange;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-bottom: 3px solid #00bcd4;
}

.modal-body {
  width: 600px;
  height: 350px;
  text-align: center;
}

.wishlist-checkout-box {
  margin-top: 90px;
  margin-bottom: 0px;
}

.wishlist {
  float: left;
  font-weight: bold;
  cursor: pointer;
}

.redheart {
  color: red;
}

.bluecart {
  color: #00bcd4;
}

.checkout {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.wishlist, .checkout {
  font-size: 16px;
}

.modal-image {
  width: 300px;
  height: 200px;
}

.modal-footer {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-top: 3px solid #00bcd4;
  background-color: orange;
}

.sign-in-container {
  width: 45%;
  height: 505px;
  background-color: white;
  float: left;
  border: 3px solid #00bcd4;
  margin-left: 40px;
}

.register-container {
  width: 45%;
  height: 505px;
  background-color: white;
  float: right;
  border: 3px solid orange;
  margin-right: 40px;
}

.sign-in-container, .register-container {
  margin-top: 50px;
}

.sign-in-box {
  margin-left: 180px;
  margin-top: 50px;
  width: 300px;
}

.sign-in, .register {
  font-weight: bold;
  text-align: center;
}

.sign-in {
  color: orange;
  background-color: #00bcd4;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register-box {
  margin-left: 180px;
  margin-top: 20px;
  width: 300px;
}

.register {
  color: #00bcd4;
  background-color: orange;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register-send {
  background-color: orange;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 55px;
  width: 100%;
  margin-left: 0px;
}

.register-send-button {
  background-color: #00bcd4;
  font-weight: bold;
  color: black;
  width: 150px;
  height: 40px;
  border: none;
  font-size: 16px;
  margin-top: 9px;
  margin-left: 240px;
}

.email , .password {
  margin-top: 20px;
}

.sign-in-details {
  font-weight: bold;
  font-size: 18px;
  padding-top: 
}

.sign-in-send {
  background-color: #00bcd4;
  margin-bottom: 0px;
  margin-top: 70px;
  height: 55px;
  width: 100%;
  margin-left: 0px;
}

.sign-in-send-button {
  background-color: orange;
  font-weight: bold;
  color: black;
  width: 150px;
  height: 40px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 240px;
}

.sign-in-send-button:hover , .register-send-button:hover {
  box-shadow: 0px 0px 20px black;
}

.guest {
  color: #00bcd4;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 15px;
}

#wishlist-box {
  display: block;
  background-color: orange;
  border: 4px solid #00bcd4;
  width: 800px;
  height: auto;
  margin-left: 22%;
  margin-top: 5%;
}

.wishlist-content {
  padding-top: 10px;
}

.table-hover > tbody > tr:hover {
  background-color: #00bcd4;
}

.fa-trash {
  cursor: pointer;
}